<ion-header [translucent]="true">
  
</ion-header>
//
//
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="play-circle"></ion-icon>
      Listen Now
    </ion-tab-button>
    <ion-tab-button tab="radio">
      <ion-icon name="radio"></ion-icon>
      Radio
    </ion-tab-button>
    <ion-tab-button tab="library">
      <ion-icon name="library"></ion-icon>
      Library
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
//
//
  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-content [fullscreen]="true">
      <ion-button (click)="logout()" color="tertiary" class="logoutB" id="close-toast">Salir</ion-button>
      <ion-button routerLink="/plantas"  color="tertiary" class="logoutB" id="close-toast">Plantas</ion-button>
      <ion-toast trigger="close-toast" message="Sesión cerrada" [duration]="3000"></ion-toast>
//
//
    <h1>Enciclopedia de plantas</h1>
  
    <h2>Arbol de la abundancia</h2>
    <img
      alt="rhino standing near grass"
      src="https://cdn03.lolaflora.com/bonnygift/kcm44668812-1/XL/arbol-de-la-abundancia-en-maceta-de-ceramica-kcm44668812-1-49702cc999cd4cbd9d6f5ebd66d49f4e.jpg"
    />
    <p>
      Descripción. La portulacaria afra es una suculenta siempreverde originaria de Sudáfrica. 
      Allí, crece de manera salvaje y sus hojas carnosas son un manjar para elefantes, cabras y rinocerontes. 
      Es una planta “4×4”, ideal para tener en casa por su resiliencia, su fuerza y su facilidad de cultivo.
    </p>
  
    <h2>Sea Turtle</h2>
    <img
      alt="brown sea turtle in water"
      src="https://images.unsplash.com/photo-1573551089778-46a7abc39d9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
    />
    <p>
      Sea turtles are characterized by a large, streamlined shell and non-retractile head and limbs. Unlike other turtles,
      sea turtles cannot pull their limbs and head inside their shells. Their limbs are flippers that are adapted for
      swimming, so they are vulnerable while on land.
    </p>
  
    <h2>Giraffe</h2>
    <img
      alt="giraffe sticking its tongue out"
      src="https://images.unsplash.com/photo-1577114995803-d8ce0e2b4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80"
    />
    <p>
      Giraffes are known for their long, tall appearance. They have a small hump on their back like a camel and have a
      spotted pattern similar to that of a leopard. Because of the combination of these features, some people called the
      giraffe a “camel-leopard.” That’s where the giraffe’s species name “camelopardalis” comes from.
    </p>
  
    <h2>Elephant</h2>
    <img
      alt="two grey elephants on grass plains during sunset"
      src="https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1754&q=80"
    />
    <p>
      Elephants are the largest existing land animal, with massive bodies, large ears, and long trunks. Elephants’ long
      trunks are multifunctional. They are used to pick up objects, trumpet warnings, greet other elephants, or suck up
      water for drinking or bathing.
    </p>
  
    <h2>Dolphin</h2>
    <img
      alt="black and white dolphin in water"
      src="https://images.unsplash.com/photo-1607153333879-c174d265f1d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80"
    />
    <p>
      Dolphins range in color depending on the species, from white, pearl, and pink to darker shades of brown, gray, blue,
      and black. They have smooth skin, flippers, and a dorsal fin. They have a long, slender snout with about 100 teeth
      and a streamlined body. They have a single blowhole on top of their head, which has a flap that opens to reveal a
      pair of nostrils. The dolphin uses these nostrils for breathing when it surfaces.
    </p>
  </ion-content>

</ion-content>
